<div class="vista container mb-3">
  <% if @restaurant.image_url.nil? %>
      <img src="../img/sin-imagen.jpg" alt="...">
  <% else %>
     <img src="<%= @restaurant.image_url%>" alt="...">
  <% end %>
  <div class="detalle">
    <h3><%= @restaurant.name %></h3>
    <p><%= @restaurant.type_food %></p>
    <p><%= @restaurant.city %></p>
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.phone_number %></p>
    <div class="container">
      <div class="row">
        <div class="col">
          <form action="/restaurants/<%=@restaurant.id %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Borrar" class="btn btn-danger mx-2">
          </form>
        </div>
        <div class="col">
          <a href="/restaurants/<%=@restaurant.id%>/edit" class="btn btn-warning">Editar</a>
        </div>
      </div>
    </div>
       
        
  </div>
</div>





